[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
scapy = "*"
netaddr = "*"
netifaces = "*"
colorama = "*"
matplotlib = "*"
pyx = "*"
ipython = "*"
cryptography = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
