[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
scapy = "*"
netaddr = "*"
netifaces = "*"
colorama = "*"
matplotlib = "*"
pyx = "*"
ipython = "*"
graphviz = "*"
vpython = "*"
requests = "*"
paramiko = "*"
dnspython = "*"
beautifulsoup4 = "*"
mechanize = "*"
pysocks = "*"
pycryptodome = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
